body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0b1527;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.95), rgba(8, 18, 36, 0.9));
  overflow: hidden;
}