body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0b1527;
  font-family: "Poppins", sans-serif
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000000 0%, #060b15 99% , #000000 100%);
  overflow: hidden;
}